.list-course {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

@media (max-width: 1200px) {
    /* */
    .list-course {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .list-course {
        grid-template-columns: repeat(2, 1fr);
    }
}

// scss, material ui, taiwind 