.nav {
    width: 100%;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}

ul {}

svg {
    width: 27px;
    height: 27px;

}