.mobile-navbar {
    transition: transform 0.1s ease-in-out;
    transform: translateX(-100%); /* Navbar ban đầu nằm ngoài màn hình bên trái */
    z-index: 99999;

    &.show {
        transform: translateX(0); /* Navbar di chuyển vào màn hình */
    }
}

