.main-profileUser {
    position: relative;
}

.banner-profileUser {
    margin: auto;
    width: 1100px;
    height: 308px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    position: relative;
}

.banner-profileUser > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh không bị vỡ và vừa khung */
    background-repeat: no-repeat; /* Ngăn ảnh lặp lại */
}


.box-avatar-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    left: -280px;
}

.avatar-profileUser {
    width: 172px;
    height: 172px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    border: 4px solid white;
}

.avatar-profileUser>img {
    width: 100%;
    height: 100%;
}

.name-profileProfile {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 50px;
}

.container-profileUser {
    border: 0px solid #ccc;
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin:  -50px auto;
    padding: 0px 24px;
    gap: 20px;
}

.column-left {
    width: 40%;
    padding: 0px 12px;
}

.box-top,
.box-bottom {
    border: 0px solid #ccc;
    width: 100%;
    margin: 0px 0px 20px;
    padding: 18px 14px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-top>.h4-title,
.box-bottom>.h4-title {
    font-size: 16px;
    margin: 0px 0px 8px;
}

.box-icon-name>span {
    font-size: 14px;
}

.column-right {
    width: 60%;
    padding: 0 14px;
}

.box-small-right {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 20px 0px;
    padding: 0px 0px 12px;
    display: flex;
    gap: 20px;
}

.thumbnail-img {
    width: 228px;
    height: 128px;
    border-radius: 20px;
    overflow: hidden;
}

.thumbnail-img>img {
    width: 100%;
    height: 100%;
}

.info-title>a {
    width: 60%;
    font-size: 16px;
}

.info-desc>p {
    width: 353px;
    font-size: 14px;
}

/* Responsive Styling */
@media (max-width: 1239px) {
    .banner-profileUser {
        width: 90%;
        height: auto;
    }

    .box-avatar-name {
        top: -70px;
        left: 0;
        flex-direction: column;
    }

    .container-profileUser {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .column-left,
    .column-right {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .container-profileUser {
        padding: 0px 20px;
        width: 80%;
    }

    .box-small-right {
        display: block;
    }

    .thumbnail-img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        overflow: hidden;
    }

    .name-profileProfile {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .avatar-profileUser {
        width: 120px;
        height: 120px;
    }

    .banner-profileUser {
        height: 200px;
    }

    .box-avatar-name {
        top: -60px;
    }
}

@media (max-width: 480px) {

    .container-profileUser {
        width: 100%;
    }

    .box-avatar-name {
        top: -50px;
        flex-direction: column;
        text-align: center;
    }

    .name-profileProfile {
        font-size: 16px;
    }

    .avatar-profileUser {
        width: 100px;
        height: 100px;
        border: 5px solid white;
    }

    .box-small-right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .thumbnail-img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}