@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--system-ui);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    overscroll-behavior: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 5px;
}
#root {
    width: 100%;
}
:root {
    --white-primary: #eef2f6;
    --gray-primary: #c0c0c0;
    --color-primary: linear-gradient(to right, #00C9FF, #92FE9D);
    --main-font-size: 14px;
    --mini-font-size: 12px;
}
