.content-main {
    width: 87%;
}



@media (max-width: 1460px) {
    .content-main {
        width: 85%;
    }
}

@media (max-width: 1103px) {
    .content-main {
        width: 80% ;
    }
}

@media (max-width: 768px) {
    .content-main {
        width: 100%;
    }
}
    
@media (min-width: 1600px) {
    .content-main {
        width: 1350px;
        margin: auto;
    }
}
